body
{
	background-color: #ee3f54;
}

h1, h2, h3, h4, h5, h6, button
{
	font-family: 'Bree Serif', serif;
}

#social-container
{
	background-color: #1c3643;
}

#logo-container .callout
{
	background-color: #ee3f54;
	color: white;
	margin-bottom: 0;
}

#menu-container
{
	background-color: #48a19d;

}

#menu-container li a {
	color: white;
	font-family: 'Bree Serif', serif;
}

#menu-container li a:hover,
#submenu-container li a:hover
{
	color: #f6e15f;
}

#submenu-container
{
	border: 0;
}

#submenu-container li a
{
	background-color: #48a19d;
	color: white;
}

.contenedor
{
	width: 80%;
	margin: auto;
}

#horarios-container
{
	padding: 1em 0;
}

#horarios-container,
#horarios-container .tabs-panel,
#horarios-container .tabs,
#horarios-container .tabs .tabs-title,
#horarios-container .tabs .tabs-title.is-active a
{
	background-color: #9676af;
	color: white;
	border: 0;
	text-transform: uppercase;
	font-family: 'Bree Serif', serif;
	outline: none;
}

.tabs-content
{
	border: 0;
}

#horarios-container .tabs .tabs-title a
{
	font-size: 18px;
	color: #a7fffb;
}

#horarios-container .tabs .tabs-title a:hover
{
	color: white;
	background-color: #9676af;
}

.tabs-title
{
	display: inline-block;
	float: none;
}

.orbit-container
{
	height: auto;
}